.button {
    display: inline-flex;
    justify-content: center;
    background: rgba(240, 240, 240, 0.04);
    color: #c2c6c8;
    font: normal 11px "Inter Medium";
    padding: 11px 16px;
    border: 1px solid #5a6a73;
    border-radius: 32px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    min-width: 80px;
    --skeleton-width: 50px;
    --skeleton-height: 14px;
    &.check.on {
        background: rgba(7, 175, 212, 0.16);
        border: 1px solid #07afd4;
    }
    &:global(.variant-1) {
        font-family: "Inter MediumItalic";
    }
}
.button-group {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
