@font-face {
    font-family: "Inter Medium";
    src: url("./pages/common/fonts/Inter-Medium.otf");
}

@font-face {
    font-family: "Inter SemiBold";
    src: url("./pages/common/fonts/Inter-SemiBold.otf");
}

@font-face {
    font-family: "Inter MediumItalic";
    src: url("./pages/common/fonts/Inter-MediumItalic.otf");
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-width: 620px;
    min-height: 350px;
    background: linear-gradient(161.02deg, #435159 0%, #1f292e 77.54%);
    user-select: none;
    overflow: auto;
    position: relative;
}

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2.5px;
}

*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2.5px;
}
