.paper {
    display: block;
    background: rgba(240, 240, 240, 0.04);
    border: 1px solid #5a6a73;
    border-radius: 8px;
    padding: 16px;
    &.theme-red {
        border-color: #ed0332;
        background: rgba(237, 3, 50, 0.15);
    }
    &.theme-aqua {
        border-color: #07afd4;
        background: rgba(7, 175, 212, 0.15);
    }
}
