.speed {
    display: flex;
    flex-direction: column;
    width: 321px; 
    > .content {
        display: flex;
        align-items: flex-end;
        gap: 2px;
        > .value {
            font: normal 104px "Inter SemiBold";
            color: white;
            margin: 0px;
            line-height: 0.9;
            --skeleton-width: 180px;
            --skeleton-height: 93px;
            --skeleton-margin: 0px 7px 0px 0px;
            --skeleton-border-radius: 10px;
        }
        > .type {
            font: normal 23px "Inter SemiBold";
            color: white;
            margin: 0px;
            line-height: 1;
        }
    }
}