.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    &.theme-grey > .button {
        background: #283237;
        border-color: #5a6a73;
    }
    &.theme-red > .button {
        background: #4a2331;
        border-color: #ed0332;
    }
    > .button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: none;
        width: 40px;
        height: 40px;
        border: 2px solid white;
        border-radius: 50%;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }
    > .label {
        font: normal 11px "Inter Medium";
        color: #e8eeed;
    }
}
@media (max-width: 800px) or (max-height: 385px) {
    .icon-button {
        > .button {
            width: 36px;
            height: 36px;
            > .icon {
                width: 15px;
            }
        }
    }
}
