.title {
    font: normal 17px "Inter SemiBold";
    color: white;
    margin: 15px 0px;
    &:first-child {
        margin-top: 0px;
    }
    &:last-child {
        margin-bottom: 0px;
    }
    &.variant-1 {
        font-size: 22px;
    }
    &.align-left {
        text-align: left;
    }
    &.align-center {
        text-align: center;
    }
    &.align-right {
        text-align: right;
    }
}