.text {
    color: #e8eeed;
    font: normal 15px "Inter Medium";
    &.font-weight-medium {
        font-family: "Inter Medium";
    }
    &.font-weight-semibold {
        font-family: "Inter Semibold";
    }
}
